

h2 {
    color: white;
}

.home-title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    position: relative;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.3);
}